{% extends "base.html" %}

{% block content %}
	<center>
    <h1>Derivar argumento</h1>
    <h2>Premisas del argumento</h2>
	</center>
    <form action="" method="post" novalidate>
	{{ form.csrf_token }}
	{{ form.hidden_tag() }}
	{% for entry in form.props %}
	{{ entry.hidden_tag() }}
		<p>
		&nbsp;&nbsp;Premisa {{loop.index}} {{ entry }}
		</p>
		<!-- <b>[<font color=darkgreen>✓</font>]</b> -->
		<!-- <b>[<font color=darkred>x</font>]</b> -->
	{% endfor %}
	<br>
	<p>{{ form.submit() }}</p>
    </form>
{% endblock %}
