<html>
    <head>
	<meta charset="utf-8">
	<meta name="description" content="Lógos">
	<meta name="author" content="Jesús Gambín">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',
		   filename='style/style.css') }}">
        {% if title %}
	<title>{{ title }} - logos (λόγος)</title>
        {% else %}
	<title>logos (λόγος)</title>
        {% endif %}
    </head>
    <body>
        <div>
		<i>logos</i> (λόγος) |
		<a href="{{ url_for('index') }}">Inicio</a> :
		<a href="{{ url_for('ejemplos') }}">Ejemplos</a> :
		<a href="{{ url_for('argf1') }}">Derivar argumento</a> :
		<a href="https://jdgambin.github.io/">jdg</a>
        </div>
        <hr>
	<div class="row">
	<div class="column">
	<div class="content">
	</div>
	</div>
	<div class="column">
	<div class="row">
        {% block content %}

	{% endblock %}
	</div>
	</div>
	<div class="column">
	<div class="row">
	</div>
	</div>
	</div>
    </body>
</html>
